---
import type { Page } from 'astro';
import path from 'path';

export interface Props {
    page: Page;
}

const {page} = Astro.props;
---

<div class="grid-wrapper">
    <div class="gallery-grid">
        {
            page.data.map((data) => {
                const frontmatter = data.frontmatter ?? data.work.frontmatter;
                const url = data.url ?? data.work.url;
                const image = frontmatter.image;
                const ext = path.extname(image);
                const thumbnailBasename = path.basename(image, ext); // notes

                const tagR18 = frontmatter.tags.includes("R18") ? <span class="tag-R18">R18</span> : <></>;
                const tagR18G = frontmatter.tags.includes("R18G") ? <span class="tag-R18G">R18G</span> : <></>;
                const pageCount = frontmatter.additionalImages?.length ?? 0;
                const tagMultiple = pageCount > 0 ? <span class="tag-multiple">{pageCount + 1}+</span> : <></>;

                return (
                    <p class="gallery-piece">
                        <span class="gallery-body">
                            <a href={url}><img src={`/thumbnails/${thumbnailBasename}_thumb${ext}`}></a>
                            <span class="gallery-hint">{tagR18}{tagR18G}</span>
                            {tagMultiple}
                        </span>
                        <span class="gallery-title">{frontmatter.title}</span>
                    </p>
                );
            })
        }
    </div>
</div>
